In [2]:
import numpy as np
import pandas as pd

/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [ ]:
data = pd.read_csv('housing.csv',encoding="ISO-8859-1")
data.head()

In [4]:
# How many learners were in the housing trainings project?
print(data.learner_id.nunique())

15641

In [23]:
# Which were the 3 most popular trainings? (Trainings with the most learners)
print(data.program_code.value_counts()[:3])

PLB    123652
HFS     78505
SF      55654
Name: program_code, dtype: int64

In [6]:
data.describe(include='all')

,Unnamed: 0,learner_id,program_code,variation_code,message_in,message_out,created_at,user_response
count,422868.000000,422868.000000,422868,422868,421050,422722,422868,409270
unique,NaN,NaN,7,13,7756,1918,267973,7952
top,NaN,NaN,PLB,PLB,A,All SMSs are FREE. Reply with a number to lear...,2018-02-14 19:08:06,A
freq,NaN,NaN,123652,120338,206272,18693,26,205878
mean,211434.500000,331117.453078,NaN,NaN,NaN,NaN,NaN,NaN
std,122071.621153,242367.504512,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,8.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,105717.750000,91560.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,211434.500000,270121.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,317151.250000,577151.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,422868.000000,781388.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# Which learner had the most interactions and how many interactions did they have?
data.learner_id.value_counts()[:1]

648424    1172
Name: learner_id, dtype: int64

In [20]:
# How many learners had more than 100 interactions (>100) ?
data_all = data.learner_id.value_counts()

print(len(data_all[data_all > 100]))

756

In [18]:
# How many learners had 100 or less interactions (<= 100)

In [28]:
# Stats
print(data_all[data_all < 101].describe())

count    14885.000000
mean        20.870944
std         21.292427
min          1.000000
25%          4.000000
50%         14.000000
75%         30.000000
max        100.000000
Name: learner_id, dtype: float64